@import "tailwindcss";

@theme{
    --color-primary: #d4f0fc;
    --color-secondary: #01303f;
    --color-accent: #02a9f7;
}

/* transparent scroll track class called hide-scroll-track */
.hide-scroll-track::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
}
.hide-scroll-track::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}
.hide-scroll-track::-webkit-scrollbar-thumb {
    background-color: #02a9f7;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid transparent;  /* creates padding around scroll thumb */
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}